<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../setups/head') %>
</head>
<body>
  <div class="container">
    <h1>Hi, <%= name  %></h1>
    <p>Please confirm your action to reset your password.</p>
    <a href="/reset-password?token=<%= token %>" target="_blank">Reset Password</a>
  </div>
</body>
</html>