<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BEJS KM6 x Binar Academy - Challenge Chapter 7</title>
  <style>
    body {
      background-color: #1d1d1d;
      color: #eee;
      font-family: sans-serif;
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }

    .container {
      color: white;
      text-align: center;
      padding: 30px 100px;
      background-color: #393642;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .container h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .container a {
      background-color: #7f5af0; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Hi, <%= name  %></h1>
    <p>Please confirm your action to reset your password.</p>
    <a href="/reset-password?token=<%= token %>" target="_blank">Reset Password</a>
  </div>
</body>
</html>